html, body {
  margin: 0px;
  padding: 0px;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  font-size: 5vh;
  color: #ffffff;
  font-family: sans-serif;
}

.frame{
  float: left;
  padding: 1vh, 1vw;
}

#Ponta {
  margin: 0px;
  padding: 0px;
  background: #DC2C23;
}

#Neutru {
  margin: 0px;
  padding: 0px;
  background: #333333;
}

#Iohannis {
  margin: 0px;
  padding: 0px;
  background: #1781C4;
}

@media (max-aspect-ratio: 3/2){
  .frame#Ponta, .frame#Iohannis{
    width: 100vw;
    height: 35vh;
  }
  .frame#Neutru{
    width: 100vw;
    height: 30vh;
  }
  .navbar{
    position: absolute;
    width: 78vw;
  }
  #Ponta .navbar{
    bottom: 66vh;
    left: 1vw;
    text-align: left;
  }
  #Neutru .navbar{
    left: 10vw;
    right: 10vw;
    top: 36vh;
    text-align: center;
  }
  #Iohannis .navbar{
    top: 66vh;
    right: 1vw;
    text-align: right;
  }
}

@media (min-aspect-ratio: 3/2){
  .frame#Ponta, .frame#Iohannis{
    width: 35vw;
    height: 100vh;
  }
  .frame#Neutru{
    width: 30vw;
    height: 100vh;
  }
  .navbar{
    position: absolute;
    width: 30vw;
  }
  #Ponta .navbar{
    top: 1vh;
    right: 66vw;
    text-align: right;
  }
  #Neutru .navbar{
    left: 35vw;
    right: 35vw;
    top: 1vh;
    text-align: center;
  }
  #Iohannis .navbar{
    top: 1vh;
    left: 66vw;
    text-align: left;
  }
}