.quiz{
  visibility: hidden;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}

html, body {
  margin: 0px;
  padding: 0px;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  font-size: 5vh;
  color: #ffffff;
  font-family: sans-serif;
}

button, a{
  font-size: 5vh;
  color: #ffffff;
}

.choose{
  background-color: rgba(51,51,51,0.8);
}

.frame{
  float: left;
}

#Ponta {
  margin: 0px;
  padding: 0px;
  background: #DC2C23;
}

#Neutru {
  margin: 0px;
  padding: 0px;
  background: #333333;
}

#Iohannis {
  margin: 0px;
  padding: 0px;
  background: #1781C4;
}

.social-ref {
  width: 5vh;
  height: 5vh;
  display: inline-block;
}

.social-ref.www{
  background-image: url("../assets/www.png");
  background-size: 100% 100%;
}

.social-ref.fb{
  background-image: url("../assets/facebook.png");
  background-size: 100% 100%;
}

.social-ref.twitter{
  background-image: url("../assets/twitter.png");
  background-size: 100% 100%;
}

@media (max-aspect-ratio: 3/2){
  .frame#Ponta, .frame#Iohannis{
    width: 100vw;
    height: 32vh;
  }
  .frame#Neutru{
    width: 100vw;
    height: 36vh;
  }
  .navbar{
    position: absolute;
  }
  #Ponta .navbar{
    bottom: 69vh;
    right: calc(7vh + 1vw);
    text-align: right;
  }
  #Neutru .navbar{
    left: 1vw;
    right: 1vw;
    top: 33vh;
    text-align: center;
  }
  #Iohannis .navbar{
    top: 69vh;
    left: calc(7vh + 1vw);
    text-align: left;
  }

  .contents{
    position: absolute;
  }

  #Ponta .contents{
    right: calc(7vh+1vw);
    left: 1vw;
    bottom: 75vh;
    top: 1vh;
  }

  #Neutru .contents{
    right: 1vw;
    left: 1vw;
    top: 33vh;
    bottom: 33vh;
  }

  #Iohannis .contents{
    right: 1vw;
    left: calc(7vh+1vw);
    bottom: 1vh;
    top: 75vh;
  }

  .choose{
    position: absolute;
    display: inline-block;
    text-align: center;
  }
  #Ponta .choose{
    right: 0vw;
    left: calc(100vw - 7vh);
    top: 0vh;
    bottom: 68vh;
    padding: 1vh;
  }
  #Iohannis .choose{
    right: calc(100vw - 7vh);
    left: 0vw;
    top: 68vh;
    bottom: 0vh;
    padding: 1vh;
  }
}

@media (min-aspect-ratio: 3/2){
  .frame#Ponta, .frame#Iohannis{
    width: 32vw;
    height: 100vh;
  }
  .frame#Neutru{
    width: 36vw;
    height: 100vh;
  }
  .navbar{
    position: absolute;
  }
  #Ponta .navbar{
    width: 30vw;
    top: 1vh;
    right: 69vw;
    text-align: right;
  }
  #Neutru .navbar{
    width: 34vw;
    left: 33vw;
    right: 33vw;
    top: 1vh;
    text-align: center;
  }
  #Iohannis .navbar{
    width: 30vw;
    top: 1vh;
    left: 69vw;
    text-align: left;
  }

  .contents{
    position: absolute;
    top: 7vh;
    bottom: 9vh;
  }

  #Ponta .contents{
    left: 1vw;
    right: 69vw;
  }

  #Neutru .contents{
    left: 33vw;
    right: 33vw;
  }

  #Iohannis .contents{
    left: 69vw;
    right: 1vw;
  }

  .choose{
    position: absolute;
    top: 92vh;
    bottom: 0vh;
    padding: 1vh 1vw;
    display: inline-block;
    text-align: center;
  }
  #Ponta .choose{
    right: 68vw;
    left: 0vw;
  }
  #Iohannis .choose{
    right: 0vw;
    left: 68vw;
  }
}